extends ../layout/default.pug
include ../mixins/breadcrumb.pug
block main
  +breadcrumb(bread)
  // Section 10
  .section-10
    .container
      .inner-wrap(detail-product)
        .inner-left
          .box-images
            .inner-images-main
              .swiper.swiper-box-images-main
                .swiper-wrapper
                  each item in tour.images
                    .swiper-slide
                      .inner-image
                        img(
                          alt=tour.name
                          src=item
                          )
            .inner-images-thumb
              .swiper.swiper-box-images-thumb
                .swiper-wrapper
                  each item in tour.images
                    .swiper-slide
                      .inner-image
                        img(
                          alt="" 
                          src=item
                          )
          .box-tour-info
            .inner-title Thông Tin Tour
            .inner-content
              p !{tour.information}
            .inner-read-more
              button.button-outline Xem tất cả
          .box-tour-schedule
            .inner-title-main Lịch Trình Tour
            .inner-list
              each item in tour.schedules
                .inner-item
                  .inner-title #{item.title}
                  .inner-content !{item.description}
        .inner-right
          .box-tour-detail
            .inner-title-main Chuyến Đi Của Bạn
            .inner-product
              .inner-image
                img(
                  alt=tour.name
                  src=tour.avatar
                  )
              .inner-info
                .inner-title #{tour.name}
                .inner-rating
                  .inner-stars
                    i.fa-solid.fa-star
                    i.fa-solid.fa-star
                    i.fa-solid.fa-star
                    i.fa-solid.fa-star
                    i.fa-solid.fa-star
                  .inner-number 500 lượt đánh giá
            .inner-meta
              //- .inner-item
              //-   i.fa-solid.fa-ticket-simple
              //-   span Mã Tour:
              //-   span.inner-highlight 28T00001
              .inner-item
                i.fa-solid.fa-calendar-days
                span Thời Gian:
                span.inner-highlight #{tour.time}
              .inner-item
                i.fa-solid.fa-truck-plane
                span Phương Tiện:
                span.inner-highlight #{tour.vehicle}
              .inner-item
                i.fa-solid.fa-calendar-days
                span Ngày Khởi Hành:
                span.inner-highlight  #{tour.formatDepartureDate}
            .inner-form
              label.inner-label Khởi Hành Tại:
              select(city)
                each item in cityList
                  option(value=item.id) #{item.name}
            .inner-quantity
              label.inner-label Số Lượng Hành Khách
              .inner-list
                .inner-item
                  .inner-item-label Người lớn:
                  .inner-item-input
                    input(
                      value="1" 
                      min="1" 
                      type="number"
                      numberAdult = tour.priceNewAdult
                      )
                  .inner-item-price
                    span(adultStock) 1
                    span x
                    span.inner-highlight #{tour.priceNewAdult.toLocaleString("vi-VN")} đ
                .inner-item
                  .inner-item-label Trẻ em:
                  .inner-item-input
                    input(
                      value="0" 
                      min="0" 
                      type="number"
                      numberChildren =tour.priceNewChildren
                      )
                  .inner-item-price
                    span(childrenStock) 0
                    span x
                    span.inner-highlight #{tour.priceNewChildren.toLocaleString("vi-VN")} đ
                .inner-item
                  .inner-item-label Em bé:
                  .inner-item-input
                    input(
                      value="0" 
                      min="0" 
                      type="number"
                      numberBaby = tour.priceNewBaby
                      )
                  .inner-item-price
                    span(babyStock) 0
                    span x
                    span.inner-highlight #{tour.priceNewBaby.toLocaleString("vi-VN")} đ
            .inner-total
              .inner-total-label Tổng cộng:
              .inner-total-price
                span(total-price) #{tour.priceNewAdult.toLocaleString("vi-VN")}
                span đ
            button.inner-button-add-cart(button-cart=tour.id) Thêm Vào Giỏ Hàng
  // End Section 10